In [6]:
# !pip install psycopg2
# !pip install pandas
# !pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.23-cp36-cp36m-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.23

In [7]:
import os
import pandas as pd
import json
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# Base = automap_base()

In [8]:
json_file = "top100movies.json"
top100_df = pd.read_json(json_file)
top100_df.head()

                            title  rank         id
0        The Shawshank Redemption     1  tt0111161
1                   The Godfather     2  tt0068646
2          The Godfather: Part II     3  tt0071562
3                    Pulp Fiction     4  tt0110912
4  The Good, the Bad and the Ugly     5  tt0060196

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/top100movies"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
# print(engine)
engine.table_names()

['kaggleMovies', 'top100movie']

In [13]:
top100_df.to_sql(name='top100movie', con=engine, if_exists='append', index=False)